<div class="sub-container card mb-3" style="max-width: 540px;">
<div class="card mb-3">
 <div class="row g-0">
    <div class="col-md-4">
      <img  src="<%= @user.photo_url %>"  class="img-fluid img-thumbnail rounded-start"  alt=<%= @user.name %>>
    </div>
    <div class="card-body">
      <h5 class ="card-title"><%= @user.name %></h5>
      <p class="card-text text-end">Number of posts: <%= @user.posts_counter || 0 %></p>
    </div>
    </div>
    </div>

<% if @posts.present? %>
<% @posts.each do |post|%>
<div class="card mb-2">
    <%= link_to  user_path(@user, post), class: 'col-md-8 no-link' do %>
    <div class="card-body">
        <h5 class="card-title"><%= post.title%></h5>
        <% end %>
        <p class="card-text"><%= post.text%></p>
        <p class="card-text text-end">Comment: <%= post.comments_counter || 0 %>, Like: <%= post.likes_counter || 0 %></p>
</div>
 <div class="comment-like">
            <%= link_to 'Add Comment',  new_user_post_comment_path(@user, post), class: 'col-md-3 m-3 btn btn-secondary comment-btn' %>
            <%= button_to 'Like',  user_post_likes_path(@user, post), method: :post, class: 'col-md-2 m-3 btn btn-secondary' %>
        </div>

<% post.most_recent_comments.includes(:author).each do |comment|%>
<div class="card mb-2">
    <div class="card-body">
        <p class="card-text"><%= comment.user.name%> :<%= comment.text%></p>
        </div>
        </div>
        <div class="text-center">
            <% end %>
<% end %>

 <div class="text-center mt-3 mb-5">
        <%= link_to 'Create New Post', new_user_post_path(user_id: @user.id) , class: 'btn btn-success' %>
    </div>

    <% else %>

    <p>There is no posts for this user</p>

<% end %>
</div>