<div class="sub-container" style="max-width: 540px;">
  <div class="card mb-2">
    <div class="card-body">
      <h6 class="card-title"><%= @post.title %> by <%= @post.author.name %></h6>
      <p class="card-text text-end">Comments: <%= @post.comments_counter %>, Likes: <%= @post.likes_counter %></p>
      <p class="card-link"><%= @post.text %></p>
    </div>
  </div>

  <div class="card mb-2">
    <div class="card-body">
      <% @post.comments.each do |comment| %>
        <p class="card-text"><%= comment.user.name %>: <%= comment.text %></p>
      <% end %>
    </div>
  </div>
</div>